@model SchoolSuppliesStore.ShopingModels.CartItem
@{
    ViewData["Title"] = @Model.Product.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Start -->
<div class="container-fluid bg-primary hero-header mb-5 pb-4">
    <div class="container text-center">
        <h1 class="display-4 text-white mb-3 animated slideInDown">@Model.Product.Name</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                <li class="breadcrumb-item">
                    <a class="text-white" asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">
                    <a class="text-white" asp-action="Shop" asp-controller="Product">Shop</a>
                </li>
                <li class="breadcrumb-item text-white active" aria-current="page">Detail</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Hero End -->

<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5 bg-light shadow shadow-lg" style="border-radius:24px">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="border rounded-15">
                            <a href="#">
                                <img src="@Model.Product.Cover" class="img-fluid rounded shadow shadow-lg" alt="Image" style="border-radius:14px">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">@Model.Product.Name</h4>
                        <p class="mb-3">Category: @Model.Product.Category.Name</p>
                        <h5 class="fw-bold mb-3">@Model.Product.Price $</h5>
                        <div class="d-flex mb-4">
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star text-secondary"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <form method="post">
                            <p class="mb-4"></p>
                            <div class="input-group quantity mb-5" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input asp-for="Quantity" type="text" class="form-control form-control-sm text-center border-0">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>

                            @* <a asp-action="Index" asp-controller="Shoping" asp-route-quantity="" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a> *@
                            <button type="submit" value="Add to cart" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary" style="height:50px" asp-route-id="@Model.ProductId" asp-controller="Shoping" asp-action="AddToCart" asp-route-quantity="@Model.Quantity">
                                <i class="fa fa-shopping-bag me-2 text-primary"></i>
                                Add to cart
                            </button>

                        </form>
                    </div>
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                        id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                        aria-controls="nav-about" aria-selected="true">
                                    Description
                                </button>
                                <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                                        id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                                        aria-controls="nav-mission" aria-selected="false">
                                    Reviews
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <div>
                                    @Model.Product.Description
                                </div>

                            </div>
                            <div class="tab-pane" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab">
                                <div class="d-flex">
                                    <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                    <div class="">
                                        <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                        <div class="d-flex justify-content-between">
                                            <h5>Jason Smith</h5>
                                            <div class="d-flex mb-3">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <p>
                                            The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic
                                            words etc. Susp endisse ultricies nisi vel quam suscipit
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <img src="img/avatar.jpg" class="img-fluid rounded-circle p-3" style="width: 100px; height: 100px;" alt="">
                                    <div class="">
                                        <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
                                        <div class="d-flex justify-content-between">
                                            <h5>Sam Peters</h5>
                                            <div class="d-flex mb-3">
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <p class="text-dark">
                                            The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic
                                            words etc. Susp endisse ultricies nisi vel quam suscipit
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="nav-vision" role="tabpanel">
                                <p class="text-dark">
                                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                                    amet diam et eos labore. 3
                                </p>
                                <p class="mb-0">
                                    Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore.
                                    Clita erat ipsum et lorem et sit
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
       
    </div>
</div>
<!-- Single Product End -->
@section Style {
    <style>

        /*** Spinner Start ***/
        #spinner {
            opacity: 0;
            visibility: hidden;
            transition: opacity .8s ease-out, visibility 0s linear .5s;
            z-index: 99999;
        }

            #spinner.show {
                transition: opacity .8s ease-out, visibility 0s linear .0s;
                visibility: visible;
                opacity: 1;
            }

        .back-to-top {
            position: fixed;
            right: 30px;
            bottom: 30px;
            display: flex;
            width: 45px;
            height: 45px;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            z-index: 99;
        }
        /*** Spinner End ***/


        /*** Button Start ***/
        .btn {
            font-weight: 600;
            transition: .5s;
        }

        .btn-square {
            width: 32px;
            height: 32px;
        }

        .btn-sm-square {
            width: 34px;
            height: 34px;
        }

        .btn-md-square {
            width: 44px;
            height: 44px;
        }

        .btn-lg-square {
            width: 56px;
            height: 56px;
        }

        .btn-square,
        .btn-sm-square,
        .btn-md-square,
        .btn-lg-square {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: normal;
        }

        .btn.border-secondary {
            transition: 0.5s;
        }

            .btn.border-secondary:hover {
                background: var(--bs-secondary) !important;
                color: var(--bs-white) !important;
            }

        /*** Topbar Start ***/
        .fixed-top {
            transition: 0.5s;
            background: var(--bs-white);
            border: 0;
        }

        .topbar {
            padding: 20px;
            border-radius: 230px 100px;
        }

            .topbar .top-info {
                font-size: 15px;
                line-height: 0;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
            }

            .topbar .top-link {
                font-size: 15px;
                line-height: 0;
                letter-spacing: 1px;
                display: flex;
                align-items: center;
            }

                .topbar .top-link a {
                    letter-spacing: 1px;
                }

                    .topbar .top-link a small:hover {
                        color: var(--bs-secondary) !important;
                        transition: 0.5s;
                    }

                        .topbar .top-link a small:hover i {
                            color: var(--bs-primary) !important;
                        }
        /*** Topbar End ***/

        /*** Navbar Start ***/
        .navbar .navbar-nav .nav-link {
            padding: 10px 15px;
            font-size: 16px;
            transition: .5s;
        }

        .navbar {
            height: 100px;
            border-bottom: 1px solid rgba(255, 255, 255, .1);
        }

            .navbar .navbar-nav .nav-link:hover,
            .navbar .navbar-nav .nav-link.active,
            .fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
            .fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
                color: var(--bs-primary);
            }

            .navbar .dropdown-toggle::after {
                border: none;
                content: "\f107";
                font-family: "Font Awesome 5 Free";
                font-weight: 700;
                vertical-align: middle;
                margin-left: 8px;
            }



        .dropdown .dropdown-menu a:hover {
            background: var(--bs-secondary);
            color: var(--bs-primary);
        }

        .navbar .nav-item:hover .dropdown-menu {
            transform: rotateX(0deg);
            visibility: visible;
            background: var(--bs-light) !important;
            border-radius: 10px !important;
            transition: .5s;
            opacity: 1;
        }

        #searchModal .modal-content {
            background: rgba(255, 255, 255, .8);
        }
        /*** Navbar End ***/

        /*** Hero Header ***/
        .hero-header {
            background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url(../img/hero-img.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .carousel-item {
            position: relative;
        }

            .carousel-item a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                background: linear-gradient(rgba(255, 181, 36, 0.7), rgba(255, 181, 36, 0.7));
            }

        .carousel-control-next,
        .carousel-control-prev {
            width: 48px;
            height: 48px;
            border-radius: 48px;
            border: 1px solid var(--bs-white);
            background: var(--bs-primary);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .carousel-control-next {
            margin-right: 20px;
        }

        .carousel-control-prev {
            margin-left: 20px;
        }

        .page-header {
            position: relative;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cart-page-header-img.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        /*** Hero Header end ***/


        /*** featurs Start ***/
        .featurs .featurs-item .featurs-icon {
            position: relative;
            width: 120px;
            height: 120px;
        }

            .featurs .featurs-item .featurs-icon::after {
                content: "";
                width: 35px;
                height: 35px;
                background: var(--bs-secondary);
                position: absolute;
                bottom: -10px;
                transform: translate(-50%);
                transform: rotate(45deg);
                background: var(--bs-secondary);
            }
        /*** featurs End ***/


        /*** service Start ***/
        .service .service-item .service-content {
            position: relative;
            width: 250px;
            height: 130px;
            top: -50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /*** service End ***/


        /*** Fruits Start ***/
        .fruite .tab-class .nav-item a.active {
            background: var(--bs-secondary) !important;
        }

            .fruite .tab-class .nav-item a.active span {
                color: var(--bs-white) !important;
            }

        .fruite .fruite-categorie .fruite-name {
            line-height: 40px;
        }

            .fruite .fruite-categorie .fruite-name a {
                transition: 0.5s;
            }

                .fruite .fruite-categorie .fruite-name a:hover {
                    color: var(--bs-secondary);
                }

        .fruite .fruite-item {
            height: 100%;
            transition: 0.5s;
        }

            .fruite .fruite-item:hover {
                box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
            }

            .fruite .fruite-item .fruite-img {
                overflow: hidden;
                transition: 0.5s;
                border-radius: 10px 10px 0 0;
            }

                .fruite .fruite-item .fruite-img img {
                    transition: 0.5s;
                }

                    .fruite .fruite-item .fruite-img img:hover {
                        transform: scale(1.3);
                    }
        /*** Fruits End ***/


        /*** vesitable Start ***/
        .vesitable .vesitable-item {
            height: 100%;
            transition: 0.5s;
        }

            .vesitable .vesitable-item:hover {
                box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
            }

            .vesitable .vesitable-item .vesitable-img {
                overflow: hidden;
                transition: 0.5s;
                border-radius: 10px 10px 0 0;
            }

                .vesitable .vesitable-item .vesitable-img img {
                    transition: 0.5s;
                }

                    .vesitable .vesitable-item .vesitable-img img:hover {
                        transform: scale(1.2);
                    }

        .vesitable .owl-stage {
            margin: 50px 0;
            position: relative;
        }

        .vesitable .owl-nav .owl-prev {
            position: absolute;
            top: -8px;
            right: 0;
            color: var(--bs-primary);
            padding: 5px 25px;
            border: 1px solid var(--bs-secondary);
            border-radius: 20px;
            transition: 0.5s;
        }

            .vesitable .owl-nav .owl-prev:hover {
                background: var(--bs-secondary);
                color: var(--bs-white);
            }

        .vesitable .owl-nav .owl-next {
            position: absolute;
            top: -8px;
            right: 88px;
            color: var(--bs-primary);
            padding: 5px 25px;
            border: 1px solid var(--bs-secondary);
            border-radius: 20px;
            transition: 0.5s;
        }

            .vesitable .owl-nav .owl-next:hover {
                background: var(--bs-secondary);
                color: var(--bs-white);
            }
        /*** vesitable End ***/


        /*** Banner Section Start ***/
        .banner .banner-btn:hover {
            background: var(--bs-primary);
        }
        /*** Banner Section End ***/


        /*** Facts Start ***/
        .counter {
            height: 100%;
            text-align: center;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
        }

            .counter i {
                font-size: 60px;
                margin-bottom: 25px;
            }

            .counter h4 {
                color: var(--bs-primary);
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            .counter h1 {
                margin-bottom: 0;
            }
        /*** Facts End ***/


        /*** testimonial Start ***/
        .testimonial .owl-nav .owl-prev {
            position: absolute;
            top: -58px;
            right: 0;
            color: var(--bs-primary);
            padding: 5px 25px;
            border: 1px solid var(--bs-secondary);
            border-radius: 20px;
            transition: 0.5s;
        }

            .testimonial .owl-nav .owl-prev:hover {
                background: var(--bs-secondary);
                color: var(--bs-white);
            }

        .testimonial .owl-nav .owl-next {
            position: absolute;
            top: -58px;
            right: 88px;
            color: var(--bs-primary);
            padding: 5px 25px;
            border: 1px solid var(--bs-secondary);
            border-radius: 20px;
            transition: 0.5s;
        }

            .testimonial .owl-nav .owl-next:hover {
                background: var(--bs-secondary);
                color: var(--bs-white);
            }
        /*** testimonial End ***/


        /*** Single Page Start ***/
        .pagination {
            display: inline-block;
        }

            .pagination a {
                color: var(--bs-dark);
                padding: 10px 16px;
                text-decoration: none;
                transition: 0.5s;
                border: 1px solid var(--bs-secondary);
                margin: 0 4px;
            }

                .pagination a.active {
                    background-color: var(--bs-primary);
                    color: var(--bs-light);
                    border: 1px solid var(--bs-secondary);
                }

                .pagination a:hover:not(.active) {
                    background-color: var(--bs-primary)
                }

        .nav.nav-tabs .nav-link.active {
            border-bottom: 2px solid var(--bs-secondary) !important;
        }
        /*** Single Page End ***/


        /*** Footer Start ***/
        .footer .footer-item .btn-link {
            line-height: 35px;
            color: rgba(255, 255, 255, .5);
            transition: 0.5s;
        }

            .footer .footer-item .btn-link:hover {
                color: var(--bs-secondary) !important;
            }

        .footer .footer-item p.mb-4 {
            line-height: 35px;
        }
        /*** Footer End ***/


    </style>
}



